@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Inter&family=Montserrat&family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&family=Raleway&family=Roboto&family=Rubik&family=Varela+Round&display=swap');

.nav-bar{
   background: #292828;;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.nav-left{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;

}
.nav-left img{
    width: 64.16px;
height: 95px;
}
.navl1{
    
    color: #FFF;
    font-family: Varela;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navl2{
    color: #FFF;
    font-family: Varela;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.nav-center{
    display: flex;
    flex-direction:row ;
    gap: 20px;
    align-items: center;

}

.nav-center input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 678px;
    height: 33px;
    flex-shrink: 0;
    background-color: rgba(55, 55, 55, 1);
    color: #808080;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.nav-center button{
    width: 148px;
    border-radius: 5px;
    padding:10px;
    background: #292828;
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.nav-center button :hover{
    cursor: pointer !important;
    background-color: rebeccapurple;
}
.nav-right{
   
    display: flex;
    gap: 20px;
}